@import url('https://fonts.google.com/share?selection.family=Saira:ital,wght@0,100..900;1,100..900');

body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 0;
}
h1, h2, h3 {
    color: #000000;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}
th, td {
    border: 1px solid #999;
    padding: 10px;
    text-align: center;
}

th {
 background-color: #2980b9;
 color: white;
}

tr:nth-child(even) {
 background-color: #ecf0f1;
}

.highlight {
    background-color: #dff9fb;
}
.background-cell {
  background-image: url('https://via.placeholder.com/150x50/eeeeee/cccccc?text=Fundo');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #333;
}

caption {
 caption-side: top;
 font-weight: bold;
 margin-bottom: 10px;
}
