@import url('https://fonts.google.com/share?selection.family=Saira:ital,wght@0,100..900;1,100..900');

body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #db4646;
    padding: 20px;
}
h1{
    text-align: center;
    color: #000000;
}

form{
    max-width: 600px;
    margin: 20px auto;
    background-color: #eeeeee;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}     

label{
    display: block;
    font-weight: bold;
    margin-top: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}
input, select, textarea, button {
    width: 95%;
    padding: 10px;
    margin-top: 12px;
    border-radius: 4px;
    border: 5px solid #cccccc;
    box-sizing: border-box;
}

textarea{
 resize: vertical;
}

button{
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

button:hover {
 background-color: #1f7fbf;
}

.checkbox-group, .radio-group {
 margin-top: 10px;
}

